
.list-group-numbered { list-style: decimal inside; }
.list-group-numberedx { list-style: decimal; }
.list-group-alpha { list-style: lower-alpha inside; }
.list-group-roman { list-style: lower-roman inside; }
.list-group-alpha >li, .list-group-numbered >li, .list-group-roman >li { display: list-item }