{% extends 'base.html' %}

{% block content %}

  <!-- who begins -->
  <div class="container" id="whoBegins">
    <p>Who begins?</p>
    <div class="form-check pt-1">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio" id="radioYou">You
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio" id="radioApp">App
      </label>
    </div>
  </div>



{% endblock content %}

{% block scripts %}
  <script type="module" src="../static/v0B0.19/settings.js"></script>
{% endblock scripts %}
